      {{>d_left_section}}
<section class="column right">
        <div class="column add_button"><a href="/dashboart/user/{{ user.id }}/add" class="button is-info">Add new +</a></div>
        <div class="table-container">
          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Item name</th>
                <th>Login</th>
                <th>Collection</th>
                <th>WebSite Link</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Show</th>
              </tr>
            </thead>
            <tbody>
              {{#if data}}
              {{#each data}}
              <tr>
                <td>{{dataValues.description}}</td>
                <td>{{dataValues.username}}</td>
                <td>{{ dataValues.collection.dataValues.name }}</td>
                <td><a href="{{dataValues.svcLink}}" class="table_link" target="_blank">{{dataValues.description}}</a></td>
                <td style="cursor: pointer;"><i class="fa-regular fa-pen-to-square" title="Update info"></i></td>
                <td style="cursor: pointer;"><i class="fa-solid fa-trash-can" title="delete info"></i></td>
                <td><img src="/assets/img/ellipsis-solid 1.svg" alt=""></td>
              </tr>
              {{/each}}
            {{else}}
            <p>Not to show</p>
            {{/if}}
             
            </tbody>
          </table>
        </div>
</section>